<mat-tab-group>
  <mat-tab label="Properties"> Content 1 </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label>
      <mat-icon svgIcon="sw_film" class="icon-lightgray"></mat-icon>
      Films
    </ng-template>
    Content 2
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_people" class="icon-lightgray"></mat-icon>
      People
    </ng-template>
    Content 3
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_planet" class="icon-lightgray"></mat-icon>
      Planets
    </ng-template>
    Content 4
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_species" class="icon-lightgray"></mat-icon>
      Species
    </ng-template>
    Content 5
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_starship" class="icon-lightgray"></mat-icon>
      Starships
    </ng-template>
    Content 6
  </mat-tab>
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_vehicle" class="icon-lightgray"></mat-icon>
      Vehicles
    </ng-template>
    Content 7
  </mat-tab>
</mat-tab-group>
