@if(isLoading()) {
<div class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>
} @else {

<mat-tab-group (selectedIndexChange)="selectedTabIndex.set($event)">
  <mat-tab label="Properties">
    <ng-template matTabContent>
      <app-properties
        [data]="(swapi.resourceData.value()?.results)![0]"
        [resourceType]="swapi.resource()"
      ></app-properties>
    </ng-template>
  </mat-tab>

  @if(displayFilmsTab()) {
  <mat-tab
    ><ng-template mat-tab-label>
      <mat-icon svgIcon="sw_film" class="icon-lightgray"></mat-icon>
      Films
    </ng-template>
    <ng-template matTabContent>
      <app-resource-data
        [data]="(swapi.resourceData.value()?.results)![0]"
        [resourceType]="swapi.resource()"
        [selectedTabName]="selectedTabName()"
      ></app-resource-data>
    </ng-template>
  </mat-tab>
  } @if(displayPeopleTab()) {
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_people" class="icon-lightgray"></mat-icon>
      People
    </ng-template>
    <ng-template matTabContent>
      <app-resource-data
        [data]="(swapi.resourceData.value()?.results)![0]"
        [resourceType]="swapi.resource()"
        [selectedTabName]="selectedTabName()"
      ></app-resource-data>
    </ng-template>
  </mat-tab>
  } @if(displayPlanetsTab()) {
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_planet" class="icon-lightgray"></mat-icon>
      Planets
    </ng-template>
    <ng-template matTabContent>
      <app-resource-data
        [data]="(swapi.resourceData.value()?.results)![0]"
        [resourceType]="swapi.resource()"
        [selectedTabName]="selectedTabName()"
      ></app-resource-data>
    </ng-template>
  </mat-tab>
  } @if(displaySpeciesTab()) {
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_species" class="icon-lightgray"></mat-icon>
      Species
    </ng-template>
    <ng-template matTabContent>
      <app-resource-data
        [data]="(swapi.resourceData.value()?.results)![0]"
        [resourceType]="swapi.resource()"
        [selectedTabName]="selectedTabName()"
      ></app-resource-data>
    </ng-template>
  </mat-tab>
  } @if(displayStarshipsTab()) {
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_starship" class="icon-lightgray"></mat-icon>
      Starships
    </ng-template>
    <ng-template matTabContent>
      <app-resource-data
        [data]="(swapi.resourceData.value()?.results)![0]"
        [resourceType]="swapi.resource()"
        [selectedTabName]="selectedTabName()"
      ></app-resource-data>
    </ng-template>
  </mat-tab>
  } @if(displayVehiclesTab()) {
  <mat-tab
    ><ng-template mat-tab-label
      ><mat-icon svgIcon="sw_vehicle" class="icon-lightgray"></mat-icon>
      Vehicles
    </ng-template>
    <ng-template matTabContent>
      <app-resource-data
        [data]="(swapi.resourceData.value()?.results)![0]"
        [resourceType]="swapi.resource()"
        [selectedTabName]="selectedTabName()"
      ></app-resource-data>
    </ng-template>
  </mat-tab>
  }
</mat-tab-group>
}
