@use "@angular/material" as mat;

:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  @include mat.sidenav-overrides(
    (
      container-shape: 0 0 0 0,
      content-text-color: #ffffff,
      container-background-color: #323232,
      container-width: 165px,
    )
  );
}

mat-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the toolbar is above other content */

  .mat-toolbar-row,
  .mat-toolbar-single-row {
    padding: 0 8px;
    height: 64px;
  }

  .logo-container {
    margin-right: 0.5rem !important;

    .logo {
      cursor: pointer;
    }
  }
}

mat-sidenav-container {
  height: calc(100vh - 64px);

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 32px;
    max-height: calc(100vh - 64px);
  }
}

.icon-lightgray {
  color: lightgray !important;
}
